@media all and (min-width:1200px){
    .wrap{
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
    }
    
    header section footer{
        width: 100%;
        position: relative;
        top: 0;
        float: left;
    }
    
    .container{
        width: 100%;
        margin: 0 auto;
        position: relative;
        top: 0;
        margin-bottom: 100px;
    }
    /* 공통 영역 */
    
    header{
        width: 100%;
        height: 80px;
        padding: 0 120px;
        background-color: #d7eeee;
        position: fixed;
        z-index: 99;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        transition-duration: 0.3s;
    }
    
    .profile{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
    }
    
    .profile img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .contact{
        position: absolute;
        top: 130px;
        left: 120px;
        background-color: #629e9e;
        padding: 10px 15px;
        border-radius: 10px;
        width: 200px;
        box-shadow: 5px 5px #294e45;
        visibility: hidden;
        opacity: 0;
        transition-duration: 0.5s;
    }
    
    .contact.active{
        top: 110px;
        visibility: visible;
        opacity: 1;
    }
    
    .contact::before{
        content: '';
        position: absolute;
        top:-5px;
        left: 20px;
        width: 15px;
        height: 15px;
        background-color: #629e9e;
        transform: rotate(45deg);
    }
    
    .contact h3{
        width: 100%;
        font-size: 1em;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        color: #fffaf5;
        text-align: center;
        line-height: 1.5em;
        padding: 5px 0;
    }
    
    .contact li{
        padding: 8px 0;
        border-top: 1px solid #d7eeee;
        font-size: 13px;
    
        display: flex;
        align-items: center;
    }
    
    .contact li img{
        width: 18px;
        height: 18px;
        margin-right: 15px;
    }
    
    header nav ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    header nav ul li{
        margin-left: 25px;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-size: 1.1em;
        font-weight: 700;
        letter-spacing: 1px;
        cursor: pointer;
        transition-duration: 0.3s;
    }
    
    header:hover{
        background-color: #629e9e;
    }
    
    header nav ul li:hover{
        color: #fdad51;
    }
    /* header end */
    
    .intro{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .introBox{
        padding: 50px 70px;
        /* background-color: #d7eeee; */
        background-color: #629e9e;
        border-radius: 10px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        position: relative;
        top: 0;
    }
    
    .introBox h1{
        font-size: 2.6em;
        font-family: 'Langar', cursive;
        color: #fff;
        letter-spacing: 2px;
    }
    
    .introBox img{
        width: 280px;
        height: 280px;
        object-fit: cover;
        margin: 20px 0;
    }
    
    .introBox h2{
        font-size: 2.1em;
        font-family: 'Langar', cursive;
        color: #fff;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }
    
    .introBox h3{
        font-size: 1.6em;
        font-family: 'Langar', cursive;
        color: #fff;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    
    .introBox p{
        font-size: 0.4em;
        color: #fff;
        position: absolute;
        bottom: 20px;
    }
    
    .me{
        width: 100%;
        height: 1000px;
        background-color: #d7eeee;
    }
    
    .align{
        width: 100%;
        height: 100%;
        margin: 0 auto;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .alignMe{
        flex-direction: column;
    }
    
    .me1{
        height: 400px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .me2{
        height: 500px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .align .profileImg{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 100px;
    }
    
    
    .profileImg img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .align .motto{
        width: 500px;
        height: 250px;
        padding: 20px 30px;
        background-color: #629e9e;
        border-radius: 13px;
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .motto p{
        font-size: 0.9em;
        color: #37413c;
        color: #fff;
        line-height: 1.5em;
    }
    
    .motto p span{
        font-size: 1em;
        font-weight: 900;
        color: #ffc919;
    }
    
    .edu{
        width: 400px;
        height: 100%;
        margin-right: 50px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .edu li{
        width: 100%;
        padding: 10px 20px;
    }
    
    .edu li p{
        margin-bottom: 8px;
        font-size: 0.9em;
    }
    
    .skillLevel{
        width: 700px;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .edu h2, .skillLevel h2{
        font-size: 1.9em;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }
    
    .skillLevel ul{
        width: 100%;
    
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around
    }
    
    .skillLevel li{
        width: 330px;
        height: 100px;
        padding: 8px 15px;
        margin-bottom: 15px;
        border: 3px solid #fff;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .skillName{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    
    .skillLevel h3{
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        margin-right: 20px;
    }
    
    .level{
        width: 150px;
        height: 10px;
        background-color: #fff;
        position: relative;
        top: 0;
    }
    
    .level::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 120px;
        height: 10px;
        background-color: #da0b0b;
    }
    
    #level1::after{
        width: 100px;
    }
    
    .skillLevel p{
        font-size: 0.8em;
    }
    
    
    /* about me end */
    
    .redesign{
        height:900px;
    }
    
    .redesign .align{
        flex-direction: column;
        justify-content: space-around;
    }
    
    .redesign h1{
        font-size: 2.5em;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
    
        width: 100%;
        padding: 10px 0;
        margin-bottom: 20px;
        background-color: #629e9e;
        text-align: center;
    }
    
    .redesign .redesignBox{
        width: 100%;
        height: 230px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .site{
        width: 450px;
        height: 100%;
        margin: 0 50px;
        border-radius: 10px;
    
        position: relative;
        top: 0;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        overflow: hidden;
        transition-duration: 0.3s;
    }
    
    .site img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    
        transition-duration: 0.3s;
    }
    
    .site h2{
        position: relative;
        font-size: 2.5em;
        font-family: 'Poppins', cursive;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #fff;
    
        visibility: hidden;
    }
    
    .site .web{
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        visibility: hidden;
        transition-duration: 0.3s;
    }
    
    .site .web a{
        padding: 6px 15px;
        border: 2px solid #fff;
        border-radius: 13px;
        margin: 0 15px;
        text-align: center;
        position: relative;
        top: 0;
        
        font-size: 0.8em;
        font-weight: 600;
        color: #fff;
    }
    
    .site .web a:hover{
        background-color: #629e9e;
        border: none;
    }
    
    .site:hover img{
        filter: blur(2px) brightness(0.3);
    }
    
    .site:hover h2{
        visibility: visible;
    }
    .site:hover a{
        visibility: visible;
    }
    
    .view{
        position: absolute;
        top: -250px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #d7eeee;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .viewTable th, .viewTable td{
        padding: 7px 20px;
    }
    
    .more, .close{
        position: absolute;
        right: 0;
        top: 0;
        margin: 10px;
        padding: 8px 12px;
        outline: 0;
        border: 0;
        font-size: 0.6em;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        color: #888;
        transition-duration: 0.3s;
    }
    
    .more:hover{
        color: #294e45;
    }
    
    .close:hover{
        color: #294e45;
    }
    
    .skillStudy{
        height: 800px;
    }
    
    .skillStudy .align{
        flex-direction: column;
        justify-content: space-around;
    }
    
    .skillStudy .align h1{
        font-size: 2.5em;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
    
        width: 100%;
        padding: 10px 0;
        background-color: #629e9e;
        text-align: center;
    }
    
    .skillStudy .align p{
        font-size: 1em;
        font-weight: 600;
        color: #5a5a5a;
        line-height: 25px;
    }
    
    .skillStudy .align .studyBox{
        padding: 30px 100px;
    
    }
    
    .skillStudy .align .studyBox ul{
        width: 100%;
        height: 150px;
        margin-bottom: 25px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .study{
        width: 150px;
        height: 150px;
        position: relative;
        top: 0;
        background-color: #d7eeee;
        border-radius: 50%;
        margin: 0 30px;
        transition-duration: 0.5s;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .study a{
        font-size: 0.9em;
        font-weight: 900;
        font-family: 'Poppins', sans-serif;
        color: #37413c;
        text-align: center;
    }
    
    .study a span{
        font-size: 0.55em;
        font-weight: 500;
        color: #555;
        text-transform: none;
        font-family: 'Poppins', sans-serif;
    }
    
    .study:hover{
        top: -10px;
        background-color: #629e9e;
    }
    
    .study:hover a{
        color: #fdad51;
    }
    
    .study:hover a span{
        color: #fff;
    }
    
    /* section end */
    
    footer{
        height: 300px;
        padding: 0 120px;
        /* background-color: rgba(123, 200, 200, 0.3); */
        background-color: rgb(98, 158, 158);
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    footer h1{
        position: relative;
        top: 0;
        font-size: 2.5em;
        margin-bottom: 20px;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    
    footer nav ul{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    footer nav ul li{
        width: 280px;
        height: 120px;
        margin: 0 20px;
        border: 5px double #fff;
        box-shadow: 4px 5px #294e45;
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .footerIcon{
        width: 35px;
        height: 35px;
        margin-bottom: 10px;
    }
    
    .footerIcon img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    
    
    .footerContact li p{
        font-size: 1em;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
    }
    
    
    
    
    
    
    
    
    
    
    
    
}