@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #252839;
}

h2{
    position: relative;
    font-size: 14vw;
    color: #252839;
    -webkit-text-stroke-width: 0.3vw;
    -webkit-text-stroke-color: #383d52;
    text-transform: uppercase;
}

h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #fff;
    -webkit-text-stroke-width: 0vw;
    -webkit-text-stroke-color: #383d52;
    border-right: 2px solid #fff;
    overflow: hidden;

    animation-name: animate;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes animate{
    0%{
        width: 0;
    }
    50%{
        width: 100%;
    }
}